[submodule "SphinxExtensions/doxylink"]
	path = doc/.sphinx/Utilities/SphinxExtensions/doxylink
	url = https://github.com/sphinx-contrib/doxylink.git
[submodule "SphinxExtensions/breathe"]
	path = doc/.sphinx/Utilities/SphinxExtensions/breathe
	url = https://github.com/michaeljones/breathe
[submodule "SphinxExtensions/gitstats"]
	path = doc/.sphinx/Utilities/SphinxExtensions/gitstats
	url = https://github.com/arnaudgelas/gitstats.git
[submodule "SphinxExtensions/sphinx-bootstrap-theme"]
	path = doc/.sphinx/Utilities/SphinxExtensions/sphinx-bootstrap-theme
	url = https://github.com/ryan-roemer/sphinx-bootstrap-theme
[submodule "SphinxExtensions/commonmark"]
	path = doc/.sphinx/Utilities/SphinxExtensions/commonmark
	url = https://github.com/readthedocs/commonmark.py
[submodule "SphinxExtensions/recommonmark"]
	path = doc/.sphinx/Utilities/SphinxExtensions/recommonmark
	url = https://github.com/readthedocs/recommonmark
[submodule "doc/.sphinx/Utilities/SphinxExtensions/commonmark"]
	path = doc/.sphinx/Utilities/SphinxExtensions/commonmark
	url = https://github.com/readthedocs/commonmark.py
